@font-face {
    font-family: "Open Sans";
    src: url("https://fonts.googleapis.com/css?family=Open+Sans"),
}

body {
    background: rgba(212, 212, 212, 0.466);
}

div {
    background: rgba(235, 29, 29, 0.849);
    text-align: center;
    color: white;
    font-family: 'Open Sans';
}

*::selection {
    background: rgba(204, 204, 204, 0.466);
}

.index_h1_title {
    background: rgb(85, 79, 79);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
}

footer {
    text-align: center;
    background: rgba(48, 48, 48, 0.918);
    color: white;
    font-family: 'Open Sans';
    height: 250px;
    margin-top: auto;
}