@font-face {
    font-family: "Open Sans";
    src: url("https://fonts.googleapis.com/css?family=Open+Sans"),
}

body {
    background: rgba(212, 212, 212, 0.466);
}

.accueil_btn, .tutoriel_btn, .cours_btn, .profil_btn {
    color: white;
    transform: none;
    font-size: 20px;
    text-decoration: none;
}

.accueil_btn:hover, .tutoriel_btn:hover, .cours_btn:hover, .profil_btn:hover {
    background: rgb(207, 207, 207);
}

.btn_bottom {
    background: rgba(235, 29, 29, 0.849);
    text-align: center;
    height: 30px;
    color: white;
    font-family: 'Open Sans';
}

*::selection {
    background: rgba(204, 204, 204, 0.466);
}

.index_h1_title {
    background: rgb(85, 79, 79);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
}

footer {
    text-align: center;
    background: rgba(48, 48, 48, 0.918);
    color: white;
    font-family: 'Open Sans';
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}